<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/partials/style.css">
	<title >Agenda</title>
</head>
<body>
	<nav>
		<ul class="nav">
			<li class="nav-item">
				<a href="/" class="nav-link" style="color: #ffffff; background-color: #f0b30c; 
				border: 2px solid #f0b30c; border-radius: 5px; padding: 8px 16px; text-decoration: none; 
				transition: background-color 0.3s, color 0.3s;">
					Home
				</a>
				
			</li>
		</ul>
	</nav>
