<%- include('partials/head') %>

    <link rel="stylesheet" type="text/css" href="/styleContenido.css">

    <div class="imagenAgendaFondo"></div>


    <h2>Edita la Tarea</h2>

    <div class="container">
        <div class="panel">
            <% contenido.forEach(item=> { %>

                <form class="row g-3 mt-3 " id="editarFormArchivo" method="POST">
                    <div class="col-12">
                        <label for="nombreCarpeta" class="form-label">Tarea</label>
                        <input type="text" class="form-control" name="nombreCarpeta" id="nombreCarpeta">
                    </div>
                    <div class="col-6">
                        <label for="fechaTarea" class="form-label">Fecha</label>
                        <input type="date" class="form-control" name="fechaTarea" id="fechaTarea">
                    </div>
                    <div class="col-6">
                        <label for="horaTarea" class="form-label">Hora</label>
                        <input type="time" class="form-control" name="horaTarea" id="horaTarea">
                    </div>

                    <div class="col-12">
                        <label for="descripcionTarea" class="form-label">Descripción</label>
                        <textarea id="descripcionTarea" class="form-control" name="descripcionTarea"></textarea>
                    </div>

                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            Editar
                        </button>
                    </div>
                </form>


                <% }) %>
        </div>
    </div>




    <script>


        document.querySelectorAll(".editarFormArchivo").forEach((form) => {
            form.addEventListener("submit", function (event) {
                event.preventDefault();

            })})
    </script>

    <%- include('partials/foot') %>